.DS_Store
nbproject
manifest.mf
build.xml
*.log
*.iml
.project
.settings
.idea/*
home-ui/node_modules/*
home-ui/test_out
home-ui/test/output
*target
home-ui/output
home-ui/.sass-cache
home-ui/.tmp
home-ui/node_modules
home-ui/app/components
home-ui/dist
home-ui/app/styles/*.css
omod/src/main/webapp/*
